<div class="row" data-ng-controller="ActCredCtrl">
    <div class="col-lg-12">
        <div class= "little-margin-tab" />

        <div class="servicio-flag-container" ng-hide="showFlag">
            <i class="fa fa-spinner fa-spin spinner-loading"></i>Se esta validando la conectividad con los servicios...
        </div>

        <div class="servicio-flag-container" ng-hide="!showFlag">
            <div ng-class="wsWorks ? 'servicio-flag-work' : 'servicio-flag-not-work'" class="servicio-flag"></div>
            {{wsWorksMessage}}
        </div>

        <alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')">
            <button type="button" class="close" ng-click="closeErrorAlert($index)">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <div ng-bind="alert.msg"></div>
        </alert>

        <div class="row" ng-hide = "haveResult">
            <div class="col-md-8 col-sm-9">
                <div class="form-inline" >
                    <div class="form-group">
                        <label class="search-label">Ingrese:</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide = "haveResult">
            <div class="col-md-8 col-sm-9">
                <div class="form-inline" >
                    <div class="form-group">
                        <label for="cod1" class="search-label">Credencial Antigua <a href="" uib-tooltip="{{help_messages.act_cred_message}}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></label>
                        <input type="password" id="cod1" class="form-control input-sm" ng-model="cred_act" ng-required="true" onKeyPress="if(this.value.length==20) return false; if(this.value.match(/\s/g)){this.value = this.value.replace(/\s/g,'')};"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide = "haveResult">
            <div class="col-md-8 col-sm-9">
                <div class="form-inline" >
                    <div class="form-group">
                        <label for="cod2" class="search-label">Credencial Nueva <a href="" uib-tooltip="{{help_messages.new_cred_message}}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></label>
                        <input type="password" id="cod2" class="form-control input-sm" ng-model="cred_new" ng-required="true" onKeyPress="if(this.value.length==20) return false; if(this.value.match(/\s/g)){this.value = this.value.replace(/\s/g,'')};"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide = "haveResult">
            <div class="col-md-8 col-sm-9">
                <div class="form-inline" >
                    <div class="form-group">
                        <label for="cod3" class="search-label">Confirme Credencial Nueva <a href="" uib-tooltip="{{help_messages.confnew_cred_message}}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></label>
                        <input type="password" id="cod3" class="form-control input-sm" ng-model="conf_cred_new" ng-required="true" onKeyPress="if(this.value.length==20) return false; if(this.value.match(/\s/g)){this.value = this.value.replace(/\s/g,'')};"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 text-right-div">
                <button class="btn btn-sm btn-success" ng-click="actualizarCred()" ng-disabled="!wsWorks">Actualizar</button>
            </div>
        </div>

        <div ng-show="loading" class="progress">
            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Realizando actualización...
            </div>
        </div>

        <div class="search-result-container" ng-show="searching">

            <div ng-hide="haveResult" class="text-centered-div">
                No se pudo realizar la actualización de credenciales.
            </div>

        </div>
    </div>
</div>